snippet string "String" b
"${1:key}": "${0:value}",
endsnippet

snippet number "number" b
"${1:key}": ${0:value},
endsnippet

snippet array "Array" b
[
	${VISUAL}$0
],
endsnippet

snippet object "Object" b
{
	${VISUAL}$0
},
endsnippet
