snippet more "simple description" !b
<!--more-->
endsnippet


snippet createIndex "index of a post" !b
* [$1](#$1) 
<a name="$1"></a>
#### **$1**
$2
endsnippet

snippet href "new href of item" 
[$1](#$1)
<a name="$1"></a>
#### **$1** $2
endsnippet
