extends sh

snippet #! "shebang" !
#!/bin/zsh

endsnippet

snippet !env "#!/usr/bin/env (!env)" !
#!/usr/bin/env zsh

endsnippet

snippet pluginBlock "block comment" !
#<==----------------------------$1start -------------------------
$2
#--------------------------$1end -----------------------------==>
endsnippet

# vim:ft-snippets:
